.env
art-gallery-view/node_modules
art-gallery-view/.pnp
art-gallery-view/.pnp.js
art-gallery-view/coverage
art-gallery-view/build
art-gallery-view/.DS_Store
art-gallery-view/.env.local
art-gallery-view/.env.development.local
art-gallery-view/.env.test.local
art-gallery-view/.env.production.local
art-gallery-view/npm-debug.log*
art-gallery-view/yarn-debug.log*
art-gallery-view/yarn-error.log*
